h1{
color: rgb(255, 255, 255);

}
h2{
color:rgb(255, 255, 255);

}
h3{
    text-align: center;
    border:solid rgb(255, 255, 255);
    color: red;
}
body{
    background-color: black;
}
*{color: white;}
