h1{
color: rgb(0, 0, 0);

}

h2{
    text-align: center;
    border:solid rgb(0, 0, 0);
    color: red;
    line-height: 150%;
}

body{
    background-color: rgb(255, 255, 255);
}

.Photo img{
    height: 170px;

    width: 150px;
}

p{
    padding-left: 50px;
}

ul{
    padding-left: 50px;
}

p:hover{
    color: red;
     background-color: rgb(0, 0, 0);
}
.nom{
    font-size: 200%;
    font-weight: bold;
}
li:hover{
    color: red;
     background-color: rgb(0, 0, 0);
}

#BLOC {
    display: flex;
    flex-direction: column;   
}
@media (min-width:700px){

    #un{
       order: 3;
       width:33%;
    }
    #deux{
        order: 0;
        padding-right: 10px;
        width: 67%;
    }
    #trois{
        order: 1;
        padding-right: 10px;
        width: 67%;
    }
    #quatre{
        order: 2;
        padding-right: 10px;
        width: 67%;
    }
    #cinq{
        order: 4;
        transform: translateY(72px);
        width:33%;
    }
    #six{
        order: 5;
        transform: translateY(76px);
        width:33%;
    }
    #sept{
        order: 6;
        transform: translateY(76px);
        width:33%;
    }
    #BLOC{
        display:flex;
        max-height: 900px;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 1105px;
    }
}