h1{
color: rgb(0, 0, 0);

}

h2{
    text-align: center;
    border:solid rgb(0, 0, 0);
    color: red;
}
body{
    background-color: rgb(255, 255, 255);
}

.Photo img{
    height: 200px;

    width: 200px;
}

p{
    padding-left: 50px;
}

ul{
    padding-left: 50px;
}

p:hover{
    color: red;
     background-color: rgb(0, 0, 0);
      border: 1px solid red;}
.nom{
    font-size: 200%;
    font-weight: bold;
}
li:hover{
    color: red;
     background-color: rgb(0, 0, 0);
      border: 1px solid red;}